* {
    background-color: #3d3d3d;
}



.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.title {
    font-size: 25px;
    color:#fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
    cursor: pointer;
}

.title span {
    color: #007ced;
    text-transform: uppercase;
}




.menu .box-container .box {
    text-align: center;
    border: #fff;
    padding: 5rem;
    cursor: pointer;
}

.menu .box-container .box img {
    width: 100px;
    height: 10rem;
}

.menu .box-container .box h3{
    color: #007ced;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box:hover {
    background-color: #2d2d2d;
}

.menu .box-container .box:hover>* {
opacity: 0.8;
}